<table class="table table-striped table-hover table-bordered display data-table" id="operations-log-table">
    <thead>
        <tr class="sort-row">
            <th>Operation Code</th>
            <th>Status</th>
            <th>Request created at</th>
        </tr>
    </thead>
    <tbody>
    {{#each operations}}
        <tr data-type="selectable" data-id="{{id}}">
            <td data-display="{{code}}" data-grid-label="Code">{{code}}</td>
            <td data-display="{{status}}" data-grid-label="Status">
                {{#equal status "COMPLETED"}}<span><i class="fw fw-ok icon-success"></i> Completed</span>{{/equal}}
                {{#equal status "PENDING"}}<span><i class="fw fw-warning icon-warning"></i> Pending</span>{{/equal}}
                {{#equal status "ERROR"}}<span><i class="fw fw-error icon-danger"></i> Error</span>{{/equal}}
                {{#equal status "IN_PROGRESS"}}<span><i class="fw fw-ok icon-warning"></i> In Progress</span>{{/equal}}
            </td>
            <td data-display="{{createdTimeStamp}}" data-grid-label="Created Timestamp">{{createdTimeStamp}}</td>
        </tr>
    {{/each}}
    <br class="c-both" />
    </tbody>
</table>