<div class="wr-list-group wr-sortable policy-list">
<span class="list-group-item" id="{{id}}">
    <div class="row">
        <div class="col-lg-3 clearfix">
            <span class="wr-list-icon">
                {{#equal deviceType "android"}}
                    <i class=" fw fw-android"></i>
                {{/equal}}
                {{#equal deviceType "ios"}}
                    <i class=" fw fw-apple"></i>
                {{/equal}}
                {{#equal deviceType "windows"}}
                    <i class=" fw fw-windows"></i>
                {{/equal}}
            </span>
            <span class="wr-list-desc">
                <h3 class="wr-list-name">{{policy.policyName}}</h3>
                <span class="wr-list-username">{{deviceType}}</span>
            </span>
        </div>
        <div class="col-lg-6">
            <div class="row no-gutter">
                <div class="wr-desc-list-configs col-lg-4">
                    <div>
                        <b>Ownership Type : </b> {{policy.ownershipType}}
                    </div>
                </div>
                <div class="wr-desc-list-configs col-lg-4">
                    <div>
                        <b>Compliance Type :</b> {{policy.compliance}}
                    </div>
                </div>
                <div class="wr-desc-list-configs col-lg-4">
                    <div>
                        <b>Compliance :</b>
                        {{#equal compliance "COMPLIANT"}}
                            <span><i class="fw fw-ok icon-success"></i> Compliant</span>
                        {{/equal}}
                        {{#equal compliance "NON-COMPLIANT"}}
                            <span><i class="fw fw-warning icon-danger"></i> Not Compliant</span>
                        {{/equal}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <span class="list-group-item-actions">
                <a href="/mdm/policies/view?id={{policy.id}}" class="cu-btn-inner policy-view-link" data-id="{{id}}">
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-view fw-stack-1x"></i>
                    </span>
                    View
                </a>
            </span>
        </div>
    </div>
</span>
</div>
<table class="table table-striped table-hover table-bordered display data-table" id="operations-log-table">
    <thead>
        <tr class="sort-row">
            <th>Feature</th>
            <th>Compliance</th>
        </tr>
    </thead>
    <tbody>
    {{#each complianceFeatures}}
        <tr data-type="selectable">
            <td data-display="{{featureCode}}" data-grid-label="Feature Code">{{featureCode}}</td>
            <td data-display="{{compliance}}" data-grid-label="Status">
                {{#equal compliance true}}<span><i class="fw fw-ok icon-success"></i> Compliant</span>{{/equal}}
                {{#equal compliance false}}<span><i class="fw fw-warning icon-danger"></i> Not Compliant</span>{{/equal}}
            </td>
        </tr>
    {{/each}}
    <br class="c-both" />
    </tbody>
</table>