{{#zone "main"}}
    <!-- navbar -->
    <div class="navbar-wrapper">
        <nav class="navbar navbar-default" data-spy="affix" data-offset-top="80" data-offset-bottom="40">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-menu-toggle collapsed" data-toggle="collapse" data-target="#navbar2"
                       aria-expanded="false" aria-controls="navbar2">
                        <span class="icon fw-stack">
                            <i class="fw fw-tiles fw-stack-1x toggle-icon-up"></i>
                        </span>
                    </a>
                    <div class="navbar-brand">
                        {{pageTitle}}
                    </div>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {{#if enableBack}}
                            <li>
                                <a href="javascript:history.back()">
                                <span class="icon fw-stack">
                                    <i class="fw fw-ring fw-stack-2x"></i>
                                    <i class="fw fw-left-arrow fw-stack-1x"></i>
                                </span>
                                    Go Back
                                </a>
                            </li>
                        {{/if}}

                        {{#each currentActions}}
                            <li>
                                <a href="{{url}}" id="appbar-btn-{{id}}" title="{{tooltip}}">
                                <span class="fw-stack">
                                    <i class="fw fw-ring fw-stack-2x"></i>
                                    <i class="fw {{icon}} fw-stack-1x"></i>
                                </span>
                                    {{title}}
                                </a>
                            </li>
                        {{/each}}

                        {{#equal pageTitle "Device Management"}}
                            <li>
                                <a href="javascript:toggleEnrollment()">
                                <span class="fw-stack">
                                   <i class="fw fw-ring fw-stack-2x"></i>
                                   <i class="fw fw-mobile fw-stack-1x"></i>
                                   <span class="fw-stack fw-move-right fw-move-bottom">
                                      <i class="fw fw-circle fw-stack-2x fw-stroke fw-inverse"></i>
                                       <i class="fw fw-circle fw-stack-2x"></i>
                                      <i class="fw fw-add fw-stack-1x"></i>
                                   </span>
                                </span>
                                    Enroll Device
                                </a>
                            </li>
                            <li>
                                <a href="{{appContext}}devices/search">
                                <span class="fw-stack">
                                   <i class="fw fw-ring fw-stack-2x"></i>
                                   <i class="fw fw-mobile fw-stack-1x"></i>
                                   <span class="fw-stack fw-move-right fw-move-bottom">
                                      <i class="fw fw-circle fw-stack-2x fw-stroke fw-inverse"></i>
                                       <i class="fw fw-circle fw-stack-2x"></i>
                                      <i class="fw fw-search fw-stack-1x"></i>
                                   </span>
                                </span>
                                   Advanced Search
                                </a>
                            </li>
                        {{/equal}}

                        {{#equal pageTitle "Certificate Management"}}
                        <li>
                            <a href="{{appContext}}certificates/add-certificate">
                                <span class="fw-stack">
                                   <i class="fw fw-ring fw-stack-2x"></i>
                                   <i class="fw fw-document fw-stack-1x"></i>
                                </span>
                                Add Certificate
                            </a>
                        </li>
                        {{/equal}}
                    </ul>
                    <ul id="notification-bubble-wrapper" class="nav navbar-nav navbar-right">
                        <li class="visible-inline-block">
                            <!--<a href="{{appContext}}notification-listing" title="Failures of operations on the device side will be listed here">-->
                            <a data-toggle="sidebar" data-target="#right-sidebar" data-container=".page-content"
                               aria-expanded="false" rel="notifications-sidebar">
                                <span class="icon fw-stack">
                                    <i class="fw fw-notification fw-stack-1x"></i>
                                </span>
                                <span class="hidden-xs">Notifications</span>
                                <span class="badge notifications" id="notification-bubble"></span>
                            </a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
            <div id="navbar2" class="collapse navbar-collapse dropdown tiles"><!-- nav-collapse -->
                <ul class="nav navbar-nav">
                    <!--Below area is used to add navigational links from other units-->
                    {{defineZone "common-navigation"}}

                    {{#if permissions.VIEW_DASHBOARD}}
                        <li><a href="{{appContext}}"><i class="fw fw-dashboard"></i>Admin Dashboard</a></li>
                    {{/if}}
                    {{#if permissions.LIST_DEVICES_ADMIN}}
                        <li><a href="{{appContext}}devices"><i class="fw fw-mobile"></i>Device Management</a></li>
                    {{else}}
                        {{#if permissions.LIST_OWN_DEVICES}}
                            <li><a href="{{appContext}}devices"><i class="fw fw-mobile"></i>Device Management</a></li>
                        {{/if}}
                    {{/if}}
                    <li><a><i class="fw fw-user"></i>User Management</a>
                        <ul>
                            {{#if permissions.LIST_USERS}}
                                <li><a href="{{appContext}}users"><i class="fw fw-user"></i>Users</a></li>
                            {{/if}}

                            {{#if permissions.LIST_ROLES}}
                                <li><a href="{{appContext}}roles"><i class="fw fw-bookmark"></i>Roles</a></li>
                            {{/if}}
                        </ul>
                    </li>
                    {{#if permissions.LIST_POLICIES}}
                        <li><a href="{{appContext}}policies"><i class="fw fw-policy"></i>Policy Management</a></li>
                    {{/if}}
                    <li><a><i class="fw fw-settings"></i>Configuration Management</a>
                        <ul>
                            {{#if permissions.TENANT_CONFIGURATION}}
                                <li><a href="{{appContext}}platform-configuration"><i class="fw fw-service"></i>Platform Configurations</a>
                                </li>
                            {{/if}}
                            <!-- todo change the permission and get the related permission -->
                            {{#if permissions.TENANT_CONFIGURATION}}
                                <li><a href="{{appContext}}certificates"><i class="fw fw-security-policy"></i>Certificate Configurations</a>
                                </li>
                            {{/if}}
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/ .nav-collapse -->
        </nav>
    </div>

    <div id="qr-code-modal" data-enrollment-url="{{enrollmentURL}}" class="hidden">

        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                        Scan QR code to start enrollment
                    </h3>
                    <h4>
                        Please scan the QR code using your mobile device to retrieve enrollment URL.
                    </h4>

                    <div class="panel panel-default">
                        <div class="panel-body col-centered ">
                            <div class="qr-code"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content-wrapper">
        <div class="sidebar-wrapper" id="right-sidebar" is-authorized="{{isAuthorizedForNotifications}}"
             data-side="right" data-width="320" data-sidebar-fixed="true" data-fixed-offset="50" data-spy="affix"
             data-offset-top="80">
            <ul class="sidebar-messages">
            </ul>
            <h4 class="text-center"><a href="{{appContext}}notification-listing" class="text-center">Show all notifications</a>
            </h4>
        </div>
    <div class="container-fluid">

{{/zone}}
{{#zone "bottomJs"}}
        <script id="notifications" data-current-user="{{currentUser.username}}"
                data-image-resource="{{self.publicURL}}/images/" src="{{self.publicURL}}/templates/notifications.hbs"
                type="text/x-handlebars-template"></script>
        <script src="{{self.publicURL}}/js/appbar.js"></script>
        <script src="{{self.publicURL}}/js/jquery.qrcode.min.js"></script>
{{/zone}}
