{{#zone "main"}}
    <div class="row">
        <div class="col-md-12">
            <!-- content -->
            <div class="container-fluid col-centered wr-content">
                <div class="wr-list-group wr-sortable">
                    {{#each users}}
                        <span class="list-group-item" id="user1">
                            <i class="wso2icon wso2-sort-move"></i>
                            <div style="float:left;">
                                <h3 class="wr-list-name">{{name}}</h3>
                                <span class="wr-list-username">{{username}}</span> |
                                <a href="mailto:{{email}}" class="wr-list-email">{{email}}</a>
                            </div>
                            <span class="list-group-item-actions">
                                <a id="invite-user-link" href="#" class="cu-btn-inner" data-username="{{username}}">
                                    <i class="wso2icon wso2-text"></i>Invite
                                </a>
                                <a id="remove-user-link" href="#" class="cu-btn-inner" data-username="{{username}}">
                                    <i class="wso2icon wso2-c-delete"></i>Remove
                                </a>
                            </span>
                            <div class="clearfix"></div>
                        </span>
                    {{/each}}
                </div>
            </div>
            <!-- /content -->
        </div>
    </div>
{{/zone}}
{{#zone "common-navigation"}}
    <!--Later add the navigation menu from here-->
{{/zone}}
{{#zone "action-bar"}}
    {{#if permissions.ADD_USER}}
        <a href="/mdm/add-user" class="cu-btn">
                        <span class="fw-stack">
                            <i class="fw fw-ring fw-stack-2x"></i>
                            <i class="fw fw-add-user fw-stack-1x"></i>
                        </span>
            Add User
        </a>
    {{/if}}
{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/user-listing.js"></script>
{{/zone}}