{{#zone "main"}}
    <div class="row">
        <div class="col-md-12">
            <!-- content -->
            <div class="wr-content">
                <p class="wr-title">Users</p>
                <p>{{listUsersStatus}}</p>
                <div class="wr-list-group wr-sortable">
                    {{#each users}}
                        <span class="list-group-item">
                            <i class="wr-sortable-icon fw fw-sort hide"></i>
                            <i class="wr-list-icon fw fw-user"></i>
                            <div class="wr-list-desc">
                                <h3 class="wr-list-name">{{name}}</h3>
                                <span class="wr-list-username">{{username}} | </span>
                                <a href="mailto:{{email}}" class="wr-list-email">{{email}}</a>
                            </div>
                            <span class="list-group-item-actions">
                                <a href="#" id="invite-user-link" class="cu-btn-inner" data-username="{{username}}">
                                    <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-invitation fw-stack-1x"></i>
                                    </span>
                                    Invite
                                </a>
                                <a href="#" id="remove-user-link" class="cu-btn-inner" data-username="{{username}}">
                                    <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-delete fw-stack-1x"></i>
                                    </span>
                                    Remove
                                </a>
                            </span>
                            <div class="clearfix"></div>
                        </span>
                    {{/each}}
                </div>
            </div>
            <!-- /content -->
        </div>
    </div>
{{/zone}}
{{#zone "common-navigation"}}
    <!--Later add the navigation menu from here-->
{{/zone}}
{{#zone "action-bar"}}
    {{#if permissions.ADD_USER}}
        <a href="/mdm/users/add-user" class="cu-btn">
                        <span class="fw-stack">
                            <i class="fw fw-ring fw-stack-2x"></i>
                            <i class="fw fw-add-user fw-stack-1x"></i>
                        </span>
            Add User
        </a>
    {{/if}}
{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/user-listing.js"></script>
{{/zone}}