{{#zone "main"}}
    <span id="permission" data-permission="{{permissions}}"></span>
    <div class="row">
        <div class="col-md-12">
            <!-- content -->
            <div id="config-save-form" class="container col-centered wr-content">
                <br>
                <h1 class="page-sub-title">
                    Notifications
                </h1>
                <br>
                Device Notifications
                <br>
                <br>
                <div class="wr-advance-operations">
                    <div class="row no-gutter">
                        <div class="wr-hidden-operations-nav col-lg-4">
                            <a href="javascript:void(0)" onclick="showAdvanceOperation('unread', this)" class="selected">
                                <span class="wr-hidden-operations-icon fw-stack">
                                    <i class="fw fw-mail fw-stack-2x"></i>
                                </span>
                                Unread
                            </a>
                            <a href="javascript:void(0)" onclick="showAdvanceOperation('all', this)">
                                <span class="wr-hidden-operations-icon fw-stack">
                                    <i class="fw fw-forum fw-stack-2x"></i>
                                </span>
                               All Notifications
                            </a>
                        </div>

                        <div class="wr-hidden-operations-content col-lg-8" id="ast-container">
                            <div class="panel-body">
                                No unread messages
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /content -->
        </div>
    </div>
{{/zone}}
{{#zone "bottomJs"}}
    <script id="notification-listing" data-current-user="{{currentUser.username}}" data-image-resource="{{self.publicURL}}/images/" src="{{self.publicURL}}/templates/notification-listing.hbs" type="text/x-handlebars-template" ></script>
    <script src="{{self.publicURL}}/js/notification-listing.js"></script>
{{/zone}}