{{!-- Copyright (c) 2015, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

WSO2 Inc. licenses this file to you under the Apache License,
Version 2.0 (the "License"); you may not use this file except
in compliance with the License.
You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
either express or implied. See the License for the
specific language governing permissions and limitations
under the License. --}}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{defineZone "favicon"}}
        <title>
            {{ defineZone "title"}}
        </title>
        {{ defineZone "topLibCss"}}
        {{ defineZone "topCss"}}
    </head>
    <body>
        <div class="wr-modalpopup">
            <div class="modalpopup-container">
                <div class="modalpopup-close-btn" onclick="hidePopup();">
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-left-arrow fw-stack-1x"></i>
                    </span>
                    Go Back
                </div>
                <div class="modalpopup-content"></div>
            </div>
            <div class="modalpopup-bg"></div>
        </div>
        {{ defineZone "notification"}}
        <div class="container col-lg-12 col-md-12 col-sm-12">
            {{ defineZone "header"}}
            {{ defineZone "body"}}
            {{ defineZone "footer"}}
        </div>
        {{ defineZone "bottomjquery" }}
        {{ defineZone "bottomLibJs" }}
        {{ defineZone "bottomJs" }}
    </body>
</html>
