{{#zone "main"}}
    <div id="loading-content" class="col-centered">
        {{#if removePermitted}}
            <input type="hidden" id="can-remove" value="true"/>
        {{/if}}
        {{#if editPermitted}}
            <input type="hidden" id="can-edit" value="true"/>
        {{/if}}
        <i class="fw fw-settings fw-spin fw-2x"></i>
        Loading roles . . .
        <br>
    </div>

    <div id="role-listing-status" class="raw">
        <ul style="list-style-type: none;">
            <li class="message message-info" >
                <h4>
                    <i class="icon fw fw-info"></i>
                    <a id="role-listing-status-msg"></a>
                </h4>
            </li>
        </ul>
    </div>

    <div id="role-table" data-role={{adminRole}}>
        <table class="table table-striped table-hover list-table display responsive nowrap data-table row-view"
               id="role-grid">
            <thead>
            <tr class="sort-row">
                <th class="no-sort"></th>
                <th>By Role Name</th>
                <th class="no-sort"></th>
            </tr>
            <tr class="filter-row filter-box">
                <th colspan="2">
                    <label class="wr-input-label" for="search-by-name">
                        By Role Name
                    </label>
                    <input id="search-by-name" type="text" class="form-control" placeholder="Search By Role Name">
                </th>
                <th style="vertical-align:bottom;">
                    <button id="search-btn" class="wr-btn">
                        Search
                    </button>
                </th>
            </tr>
            <tr class="bulk-action-row">
                <th colspan="3"></th>
            </tr>
            </thead>
            <tbody id="ast-container" data-app-context="{{appContext}}">
            <br class="c-both"/>
            </tbody>
        </table>
    </div>
    <br class="c-both"/>
    <div id="content-filter-types" style="display: none">
        <div class="sort-title">Sort By</div>
        <div class="sort-options">
            <th>By Role name</th>
        </div>
    </div>


    <div id="remove-role-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Do you really want to remove this role ?</h3>

                    <div class="buttons">
                        <a href="#" id="remove-role-yes-link" class="btn-operations">
                            Remove
                        </a>
                        <a href="#" id="remove-role-cancel-link" class="btn-operations">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-role-success-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Done. Role was successfully removed.</h3>

                    <div class="buttons">
                        <a href="#" id="remove-role-success-link" class="btn-operations">
                            Ok
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-role-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>An unexpected error occurred. Please try again later.</h3>

                    <div class="buttons">
                        <a href="#" id="remove-role-error-link" class="btn-operations">
                            Ok
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{/zone}}
{{#zone "common-navigation"}}
    <!--Later add the navigation menu from here-->
{{/zone}}

{{#zone "bottomJs"}}
    <script id="role-listing" data-current-user="{{currentUser.username}}"
            src="{{self.publicURL}}/templates/role-listing.hbs" type="text/x-handlebars-template"></script>
    <script src="{{self.publicURL}}/js/role-listing.js"></script>
{{/zone}}
