{{#each devices}}
    {{deviceMap this}}
    <div class="wr-list-group wr-sortable policy-list">
        <span class="list-group-item" id="{{id}}">
            <div class="row">
                <div class="col-lg-3 clearfix">
                    <span class="wr-list-icon">
                        {{#equal type "android"}}
                            <i class=" fw fw-android"></i>
                        {{/equal}}
                        {{#equal type "ios"}}
                            <i class=" fw fw-apple"></i>
                        {{/equal}}
                        {{#equal type "windows"}}
                            <i class=" fw fw-windows"></i>
                        {{/equal}}
                    </span>
                    <span class="wr-list-desc">
                        <h3 class="wr-list-name">Device {{name}}</h3>
                        <span class="wr-list-username">({{properties.VENDOR}} - {{properties.DEVICE_MODEL}})</span>
                    </span>
                </div>
                <div class="col-lg-6">
                    <div class="row no-gutter">
                        <div class="wr-desc-list-configs col-lg-4">
                            <div>
                                <b>Ownership Type : </b> {{enrolmentInfo.ownership}}
                            </div>
                        </div>
                        <div class="wr-desc-list-configs col-lg-4">
                            <div>
                                <b>Status :</b>
                                {{#equal enrolmentInfo.status "ACTIVE"}}<span><i class="fw fw-ok icon-success"></i> Active</span>{{/equal}}
                                {{#equal enrolmentInfo.status "INACTIVE"}}<span><i class="fw fw-warning icon-warning"></i> Inactive</span>{{/equal}}
                                {{#equal enrolmentInfo.status "BLOCKED"}}<span><i class="fw fw-remove icon-danger"></i> Blocked</span>{{/equal}}
                                {{#equal enrolmentInfo.status "REMOVED"}}<span><i class="fw fw-delete icon-danger"></i> Removed</span>{{/equal}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <span class="list-group-item-actions">
                        <a href="../../device/{{type}}/{{deviceIdentifier}}" class="cu-btn-inner policy-view-link" data-id="{{deviceIdentifier}}">
                            <span class="fw-stack">
                                <i class="fw fw-ring fw-stack-2x"></i>
                                <i class="fw fw-view fw-stack-1x"></i>
                            </span>
                            View
                        </a>
                    </span>
                </div>
            </div>
        </span>
    </div>
{{/each}}