{{#zone "main"}}
    <div class="row">
        <div class="col-md-12">
            <!-- content -->
            <div class="wr-content">
                <h1 class="page-sub-title">Policy List by priority order</h1>
                <h4 class="page-sub-title-desc">{{policyCountStatusMsg}}</h4>
                <div class="wr-list-group wr-sortable policy-list">
                    <!--<div class="policy-delete-message hidden">-->
                    <!--<div class="content">Policy deleted successfully</div>-->
                    <!--<div class="buttons">-->
                    <!--<a href="javascript:hidePopup()" class="btn-operations">OK</a>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="policy-delete-failed-message hidden">-->
                    <!--<div class="content">Policy deletion failed</div>-->
                    <!--<div class="buttons">-->
                    <!--<a href="javascript:hidePopup()" class="btn-operations">OK</a>-->
                    <!--</div>-->
                    <!--</div>-->
                    {{#each policies}}
                        <span class="list-group-item" id="{{id}}">
                            <div class="row">
                                <div class="col-lg-3 clearfix">
                                    <span class="wr-sortable-icon"><i class="fw fw-sort"></i></span>
                                    <span class="wr-sort-index"><i>{{priorityId}}</i></span>
                                    <span class="wr-list-icon"><i class=" fw fw-android"></i></span>
                                    <span class="wr-list-desc">
                                        <h3 class="wr-list-name">{{name}}</h3>
                                        <span class="wr-list-username">{{platform}}</span>
                                    </span>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row no-gutter">
                                        <div class="wr-desc-list-configs highlight col-lg-4">
                                            <div><b>Ownership Type:</b> {{ownershipType}}</div>
                                        </div>
                                        <div class="wr-desc-list-configs highlight col-lg-4">
                                            <div>
                                                <b>Assigned Role(s) :</b> {{roles}}
                                            </div>
                                        </div>
                                        <div class="wr-desc-list-configs col-lg-4">
                                            <div><b>Compliance Type :</b> {{compliance}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <span class="list-group-item-actions">
                                        <a href="#" class="cu-btn-inner policy-view-link" data-id="{{id}}">
                                            <span class="fw-stack">
                                                <i class="fw fw-ring fw-stack-2x"></i>
                                                <i class="fw fw-view fw-stack-1x"></i>
                                            </span>
                                            View
                                        </a>
                                        <a href="#" class="cu-btn-inner policy-update-link" data-id="{{id}}">
                                            <span class="fw-stack">
                                                <i class="fw fw-ring fw-stack-2x"></i>
                                                <i class="fw fw-settings fw-stack-1x"></i>
                                            </span>
                                            Re-Configure
                                        </a>
                                        <a href="#" class="cu-btn-inner policy-delete-link" data-id="{{id}}">
                                            <span class="fw-stack">
                                                <i class="fw fw-ring fw-stack-2x"></i>
                                                <i class="fw fw-delete fw-stack-1x"></i>
                                            </span>
                                            Delete
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </span>
                    {{/each}}
                </div>
                <div id="save-new-priorities-button" class="wr-input-control wr-btn-grp" data-enabled="{{saveNewPrioritiesButtonEnabled}}">
                    <button class="wr-btn" id="sortUpdateBtn" data-policycount="{{policyCount}}" disabled>Save New Priority Order</button>
                </div>
            </div>
            <!-- /content -->

        </div>
    </div>
{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/policy-list.js"></script>
{{/zone}}