{{#zone "main"}}
    <div class="row">
        <div class="col-md-12">
            <!-- content -->
            <div class="wr-content">
                <p class="page-sub-title">Policy List by priority order</p>
                <p id="policy-count-status-msg" >{{policyCountStatusMsg}}</p>
                <div class="wr-list-group wr-sortable policy-list">
                    {{#each policies}}
                        <span class="list-group-item" id="{{id}}">
                            <div class="row">
                                <div class="col-lg-3 clearfix">
                                    <span class="wr-sortable-icon"><i class="fw fw-sort"></i></span>
                                    <span class="wr-sort-index"><i>{{priorityId}}</i></span>
                                    <span class="wr-list-icon"><i class=" fw fw-android"></i></span>
                                    <span class="wr-list-desc">
                                        <h3 class="wr-list-name">{{name}}</h3>
                                        <span class="wr-list-username">{{platform}}</span>
                                    </span>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row no-gutter">
                                        <div class="wr-desc-list-configs highlight col-lg-4">
                                            <div><b>Ownership Type : </b> {{ownershipType}}</div>
                                        </div>
                                        {{#if roles}}
                                            <div class="wr-desc-list-configs highlight col-lg-4">
                                                <div>
                                                    <b>Assigned Role(s) : </b> {{roles}}
                                                </div>
                                            </div>
                                        {{else}}
                                            <div class="wr-desc-list-configs highlight col-lg-4">
                                                <div>
                                                    <b>Assigned User(s) : </b> {{users}}
                                                </div>
                                            </div>
                                        {{/if}}
                                        <div class="wr-desc-list-configs col-lg-4">
                                            <div><b>Compliance Type :</b> {{compliance}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <span class="list-group-item-actions">
                                        <a href="#" class="cu-btn-inner policy-view-link" data-id="{{id}}">
                                            <span class="fw-stack">
                                                <i class="fw fw-ring fw-stack-2x"></i>
                                                <i class="fw fw-view fw-stack-1x"></i>
                                            </span>
                                            View
                                        </a>
                                        <a href="#" class="cu-btn-inner policy-update-link" data-id="{{id}}">
                                            <span class="fw-stack">
                                                <i class="fw fw-ring fw-stack-2x"></i>
                                                <i class="fw fw-settings fw-stack-1x"></i>
                                            </span>
                                            Re-Configure
                                        </a>
                                        <a href="#" class="cu-btn-inner policy-remove-link" data-id="{{id}}">
                                            <span class="fw-stack">
                                                <i class="fw fw-ring fw-stack-2x"></i>
                                                <i class="fw fw-delete fw-stack-1x"></i>
                                            </span>
                                            Remove
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </span>
                    {{/each}}
                </div>
                <div id="save-new-priorities-button" class="wr-input-control wr-btn-grp hide" data-enabled="{{saveNewPrioritiesButtonEnabled}}">
                    <button class="wr-btn" id="sortUpdateBtn" data-policycount="{{policyCount}}" disabled>Save New Priority Order</button>
                </div>
            </div>
            <!-- /content -->
        </div>
    </div>

    <div id="remove-policy-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Do you really want to remove this policy?</h3>
                    <div class="buttons">
                        <a href="#" id="remove-policy-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="remove-policy-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-policy-200-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Done. Selected policy was successfully removed.</h3>
                    <div class="buttons">
                        <a href="#" id="remove-policy-200-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-policy-409-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Selected policy does not actually exist.</h3>
                    <div class="buttons">
                        <a href="#" id="remove-policy-409-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-policy-500-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Exception at backend. Please try again later.</h3>
                    <div class="buttons">
                        <a href="#" id="remove-policy-500-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-policy-unexpected-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>An unexpected error occurred. Please try again later.</h3>
                    <div class="buttons">
                        <a href="#" id="remove-policy-unexpected-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="save-policy-priorities-success-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                        Done. New Policy priorities were successfully updated.
                    </h3>
                    <div class="buttons">
                        <a href="#" id="save-policy-priorities-success-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="save-policy-priorities-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                        Error. Policy priority update was failed. <br> Please try again.
                    </h3>
                    <div class="buttons">
                        <a href="#" id="save-policy-priorities-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/policy-list.js"></script>
{{/zone}}