<div id="errorOperations" class="operation">
    <div class="content">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-centered">
                <h3>
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-error fw-stack-1x"></i>
                    </span>
                    Operation cannot be performed !
                </h3>
                <h4>
                    Please select a device or a list of devices to perform an operation.
                </h4>
                <div class="buttons">
                    <a href="javascript:hidePopup()" class="btn-operations">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="operationSuccess" class="operation">
    <div class="content">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-centered">
                <h3>
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-check fw-stack-1x"></i>
                    </span>
                    Operation performed successfully !
                </h3>
                <h4>
                    Operation has been queued to be sent to the device.
                </h4>
                <div class="buttons">
                    <a href="javascript:hidePopup()" class="btn-operations">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="messageSuccess" class="operation">
    <div class="content">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-centered">
                <h3>
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-check fw-stack-1x"></i>
                    </span>
                    Message sent successfully !
                </h3>
                <h4>
                    Message has been queued to be sent to the device.
                </h4>
                <div class="buttons">
                    <a href="javascript:hidePopup()" class="btn-operations">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{#each features}}
    <a href="javascript:operationSelect('{{code}}')">
        <i class="fw {{icon}}"></i>
        <span>{{name}}</span>
    </a>
    <div class="operation" data-operation-code="{{code}}">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                        <span class="fw-stack">
                            <i class="fw fw-ring fw-stack-2x"></i>
                            <i class="fw {{icon}} fw-stack-1x"></i>
                        </span>
                        {{name}}
                        <br>
                    </h3>
                    <h4>
                        {{#equal code "NOTIFICATION"}}
                            Type your message below.
                            <br><br>
                            <div>
                                <textarea class="form-control modal-input operationDataKeys" id="message" data-key="message"></textarea>
                            </div>
                            <br>
                        {{/equal}}
                        {{#equal code "CHANGE_LOCK_CODE"}}
                            Type new lock-code below.
                            <br><br>
                            <input type="text" class="form-control modal-input operationDataKeys" id="lockcode" data-key="lockCode" placeholder="Enter Lockcode" />
                            <br>
                        {{/equal}}
                        Do you want to perform this operation on selected device(s) ?
                        <br>
                    </h4>
                    <div class="buttons">
                        <a href="javascript:runOperation('{{code}}')" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="javascript:hidePopup()" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}
<br class="c-both" />