{{#zone "wizard-list"}}
    <!--itm-wiz-current-->
    {{#equal os "iOS"}}
        <div class="col-md-3">
            <div class="itm-wiz {{isPage1}}"><div class="wiz-no">1</div><div class="wiz-lbl"><span>Download and Install Agent</span></div></div>
            <br class="c-both" />
        </div>
        <div class="col-md-3">
            <div class="itm-wiz {{isPage2}}"><div class="wiz-no">2</div><div class="wiz-lbl"><span>Login to Mobile Device Manager</span></div></div>
            <br class="c-both" />
        </div>
        <div class="col-md-3">
            <div class="itm-wiz {{isPage3}}"><div class="wiz-no">3</div><div class="wiz-lbl"><span>Complete MDM Registration</span></div></div>
            <br class="c-both" />
        </div>
    {{/equal}}
    {{#equal os "Windows Phone"}}
        <div class="col-md-3">
            <div class="itm-wiz {{isPage3}}"><div class="wiz-no">1</div><div class="wiz-lbl"><span>Login to Mobile Device Manager</span></div></div>
            <br class="c-both" />
        </div>
        <div class="col-md-3">
            <div class="itm-wiz {{isPage4}}"><div class="wiz-no">2</div><div class="wiz-lbl"><span>Complete MDM Registration</span></div></div>
            <br class="c-both" />
        </div>
    {{/equal}}
{{/zone}}