{{#zone "footer"}}
    <footer class="footer">
        <p>
            {{companyName}} v.2.0.0 | {{copyrightPrefix}} <a href="{{copyrightOwnersSite}}">{{copyrightOwner}}</a> {{copyrightSuffix}}
        </p>
    </footer>
{{/zone}}