{{#zone "footer"}}
    <!-- footer -->
    <footer class="footer">
      <div class="container-fluid">
        <p>{{companyName}} | {{copyrightPrefix}} <a href="{{copyrightOwnersSite}}" target="_blank">{{copyrightOwner}}</a>. {{copyrightSuffix}}</p>
      </div>
    </footer>
{{/zone}}