{{#zone "main"}}
    <!-- secondary header - app bar -->
    <div id="nav" class="row wr-app-bar">
        <div class="wr-action-container">
            <div class="wr-action-btn-bar">
                <a href="javascript:openCollapsedNav()" class="cu-btn wr-hidden-nav-toggle-btn">
                    <span class="fw-stack">
                        <i class="fw fw-tiles fw-stack-1-5x"></i>
                    </span>
                </a><!--
             --><a href="javascript:location.reload();" class="cu-btn page-title">
                    <span class="fw-stack"></span>
                    {{pageTitle}}
                </a><!--
             -->{{#if enableBack}}<!--
                 --><a href="javascript:history.back()" class="cu-btn">
                        <span class="fw-stack">
                            <i class="fw fw-ring fw-stack-2x"></i>
                            <i class="fw fw-left-arrow fw-stack-1x"></i>
                        </span>
                        Go Back
                    </a><!--
             -->{{/if}}<!--
             -->{{#each currentActions}}<!--
                 --><a href="{{url}}" class="cu-btn">
                        <span class="fw-stack">
                            <i class="fw fw-ring fw-stack-2x"></i>
                            <i class="fw {{icon}} fw-stack-1x"></i>
                        </span>
                        {{title}}
                    </a><!--
             -->{{/each}}
                <a href="/mdm/notification-listing" class="cu-btn wr-notification-toggle-btn">
                    <span class="fw-stack-md">
                        <i class="glyphicon glyphicon-bell"></i>
                    </span>
                    &nbsp;
                    <span class="wr-notification-bubble" id="notification-bubble">0</span>
                </a>
                {{#equal pageTitle "Device Management"}}
                    <a href="javascript:toggleEnrollment()" class="cu-btn wr-notification-toggle-btn">
                        <span class="fw-stack-md">
                            <i class="fw fw-bpmn fw-stack-1-5x"></i>
                        </span>
                        &nbsp;
                        Enroll Device
                    </a>
                {{/equal}}
            </div>
        </div>
    </div>
    <!-- secondary header - app bar -->

    <!-- common navigation -->
    <div id="hiddenNav" class="wr-hidden-nav">
        <ul>
            <!--Below area is used to add navigational links from other units-->
            {{defineZone "common-navigation"}}

            {{#if permissions.VIEW_DASHBOARD}}
                <li><a href="/mdm"><i class="fw fw-dashboard"></i>Admin Dashboard</a></li>
            {{/if}}
            {{#if permissions.LIST_DEVICES}}
                <li><a href="/mdm/device-mgt"><i class="fw fw-mobile"></i>Device Management</a></li>
            {{/if}}
            {{#if permissions.LIST_USERS}}
                <li><a href="/mdm/users"><i class="fw fw-user"></i>User Management</a></li>
            {{/if}}

            {{#if permissions.LIST_ROLES}}
                <li><a href="/mdm/roles"><i class="fw fw-bookmark"></i>Role Management</a></li>
            {{/if}}
            {{#if permissions.LIST_POLICIES}}
                <li><a href="/mdm/policies"><i class="fw fw-policy"></i>Policy Management</a></li>
            {{/if}}
            {{#if permissions.TENANT_CONFIGURATION}}
                <li><a href="/mdm/platform-configuration"><i class="fw fw-settings"></i>Platform Configurations</a></li>
            {{/if}}
        </ul>
    </div>
    <!-- /common navigation -->

    <div id="qr-code-modal" data-enrollment-url="{{enrollmentURL}}" class="hidden">

        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                        Scan QR code to start enrollment
                    </h3>
                    <h4>
                        Please scan the QR code using your mobile device to retrieve enrollment URL.
                    </h4>

                    <div class="panel panel-default">
                        <div class="panel-body col-centered ">
                            <div class="qr-code"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/appbar.js"></script>
    <script src="{{self.publicURL}}/js/jquery.qrcode.min.js"></script>
{{/zone}}
