<div id="errorOperations" class="operation">
    <div class="content">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-centered">
                <h3>
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-error fw-stack-1x"></i>
                    </span>
                    Operation cannot be performed !
                </h3>
                <h4>
                    Please select a device or a list of devices to perform an operation.
                </h4>
                <div class="buttons">
                    <a href="javascript:hidePopup()" class="btn-operations">Ok</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="errorOperationUnexpected" class="operation">
    <div class="content">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-centered">
                <h3>
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-error fw-stack-1x"></i>
                    </span>
                    Operation cannot be performed !
                </h3>
                <h4>
                    Unexpected error occurred. Please Try again later.
                </h4>
                <div class="buttons">
                    <a href="javascript:hidePopup()" class="btn-operations">Ok</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="operationSuccess" class="operation">
    <div class="content">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-centered">
                <h3>
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-check fw-stack-1x"></i>
                    </span>
                    Operation queued successfully !
                </h3>
                <h4>
                    Operation has been queued successfully to be sent to the device.
                </h4>
                <div class="buttons">
                    <a href="javascript:hidePopup()" class="btn-operations">Ok</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="messageSuccess" class="operation">
    <div class="content">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-centered">
                <h3>
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-check fw-stack-1x"></i>
                    </span>
                    Message sent successfully !
                </h3>
                <h4>
                    Message has been queued to be sent to the device.
                </h4>
                <div class="buttons">
                    <a href="javascript:hidePopup()" class="btn-operations">Ok</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{#each features}}
    <a href="javascript:operationSelect('{{code}}')" title="{{description}}">
        <i class="fw {{icon}}"></i>
        <span>{{name}}</span>
    </a>
    <div class="operation" data-operation-code="{{code}}">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                        <span class="fw-stack">
                            <i class="fw fw-ring fw-stack-2x"></i>
                            <i class="fw {{icon}} fw-stack-1x"></i>
                        </span>
                        {{name}}
                        <br>
                    </h3>
                    <h4>
                        {{#equal code "WIPE_DATA"}}
                            {{#equal type "android"}}
                                Enter PIN code (Optional - This is required only if the device type is BYOD).
                                <br><br>
                                <div>
                                    <input type="password" class="form-control modal-input operationDataKeys" id="pin" data-key="pin"></textarea>
                                </div>
                                <br>
                            {{/equal}}
                        {{/equal}}
                        {{#equal code "NOTIFICATION"}}
                            Type your message below.
                            <br><br>
                            <div id="notification-error-msg" class="alert alert-danger hidden" role="alert">
                                <i class="icon fw fw-error"></i><span></span>
                            </div>
                            <div>
                                <textarea class="form-control modal-input operationDataKeys" id="message" data-key="message"></textarea>
                            </div>
                            <br>
                        {{/equal}}
                        {{#equal code "CHANGE_LOCK_CODE"}}
                            Type new lock-code below.
                            <br><br>
                            <input type="password" class="form-control modal-input operationDataKeys" id="lockcode" data-key="lockCode" placeholder="Enter Lockcode" />
                            <br>
                        {{/equal}}
                        {{#equal code "DEVICE_LOCK"}}
                            {{#equal type "android"}}
                                Type your message to be shown in the lock screen (Optional).
                                <br><br>
                                <div>
                                    <textarea class="form-control modal-input operationDataKeys" id="lock-message" data-key="lock-message"></textarea>
                                </div>
                                <br>
                                <label class="wr-input-control checkbox">
                                    <input id="hard-lock" type="checkbox" class="form-control operationDataKeys" data-key="hard-lock"/>
                                        <span class="helper" title="Once it enables, device will be blocked permanently.">
                                            &nbsp;&nbsp;&nbsp;Enable Permanent Lock
                                        <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                        </span>
                                </label>
                            {{/equal}}
                        {{/equal}}
                        {{#equal code "UPGRADE_FIRMWARE"}}
                            {{#equal type "android"}}
                                Enter firmware upgrade scheduling information.
                                <br><br>
                                <div id="firmware-error-msg" class="alert alert-danger hidden" role="alert">
                                    <i class="icon fw fw-error"></i><span></span>
                                </div>
                                <label class="wr-input-control checkbox">
                                    <input id="instant-upgrade" type="checkbox" class="form-control operationDataKeys" data-key="instant-upgrade"/>
                                        <span class="helper" title="Once enabled, device firmware upgrade process will start instantly.">
                                            &nbsp;&nbsp;&nbsp;Instant Upgrade
                                        <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                        </span>
                                </label>
                                <br><br>
                                Enter the date and time to schedule firmware upgrade.
                                <br><br>
                                <div class='input-group date' id='dateTimePicker'>
                                    <input type='text' class="form-control modal-input operationDataKeys" style="z-index : 900;" name="daterange" id="schedule" data-key="schedule" />
                                </div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('.modalpopup-bg').css('z-index','1000');
                                        $('.modalpopup-container').css('z-index','1200');

                                        $('input[name="daterange"]').daterangepicker({
                                            singleDatePicker: true,
                                            timePicker: true,
                                            showDropdowns: true,
                                            timePickerIncrement: 1,
                                            locale: {
                                                format: 'MM/DD/YYYY hh:mm A'
                                            }
                                        });
                                    });
                                    $('#instant-upgrade').change(function() {
                                        if($(this).is(":checked")) {
                                            $('#dateTimePicker').addClass("hidden");
                                            $("#schedule").val('');

                                        } else {
                                            $('#dateTimePicker').removeClass("hidden");
                                        }
                                    });
                                </script>
                                <br>
                            {{/equal}}
                        {{/equal}}
                        <br><br>
                        Do you want to perform this operation on selected device(s) ?
                        <br>
                    </h4>
                    <div class="buttons">
                        <a href="javascript:runOperation('{{code}}')" class="btn-operations">Yes</a>
                        <a href="javascript:hidePopup()" class="btn-operations">No</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}
<br class="c-both" />