{{#each devices}}
    <div class="ctrl-wr-asset">
        <div class="itm-select"><input class="device-checkbox device-id" type="checkbox" data-deviceid="{{deviceIdentifier}}" data-type="{{type}}"/></div>
        <div class="itm-ast">
            <a href="device/{{type}}/{{deviceIdentifier}}"><div class="ast-img"><img src="{{../imageLocation}}{{type}}.png"/></div></a>
            <div class="ast-desc">
                <div class="ast-title">
                    <h3 class="ast-name" title="mymobile">{{name}}</h3>
                    <span class="ast-auth" title="navinda">{{owner}}</span>
                </div>
                <span class="ast-ver">{{properties.osVersion}}</span>
                <span class="ast-published">{{properties.vendor}} {{model}}</span>
            </div>
            <br class="c-both" />
        </div>
    </div>
{{/each}}
<br class="c-both"/>