{{#zone "main"}}
    <div class="row wr-device-board">
        <div class="col-lg-12 wr-secondary-bar">
            <span class="page-sub-title">Users</span>
        </div>
    </div>
    <!-- content -->
    <div class="container-fluid">
        <table class="table table-striped table-hover list-table display responsive nowrap data-table table-selectable grid-view" id="user-grid">
            <thead>
            <tr class="sort-row">
                <th></th>
                <th>By Name</th>
                <th>By Username</th>
                <th>By Email</th>
                <th></th>
            </tr>
            <tr class="filter-row filter-box">
                <th></th>
                <th data-for="By Name" class="text-filter"></th>
                <th data-for="By Username" class="text-filter"></th>
                <th data-for="By Email" class="text-filter"></th>
                <th></th>
            </tr>
            <tr class="bulk-action-row">
                <th colspan="5">
                    <ul class="tiles">
                        <li class="square">
                            <a href="#" data-click-event="remove-form" class="btn square-element invite-user-link" data-toggle="modal" data-target="#modalDemo">
                                    <span class="icon fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-invitation fw-stack-1x"></i>
                                    </span>
                                Invite Selected
                            </a>
                        </li>
                    </ul>
                </th>
            </tr>
            </thead>

            <tbody>
            {{#each users}}
                <tr data-type="selectable" id="{{userid}}">
                    <td class="remove-padding icon-only content-fill">
                        <div class="thumbnail icon">
                            <i class="square-element text fw fw-user"></i>
                        </div>
                    </td>
                    <td class="fade-edge" data-search="{{firstname}},{{lastname}}" data-display="{{firstname}} {{lastname}}">
                        <h4>{{firstname}} {{lastname}}</h4>
                    </td>
                    <td class="fade-edge remove-padding-top" data-search="{{username}}" data-display="{{username}}"><i class="fw-user"></i> {{username}}</td>
                    <td class="fade-edge remove-padding-top" data-search="{{emailAddress}}" data-display="{{emailAddress}}">
                        <a href="mailto:{{emailAddress}}" class="wr-list-email">
                            <i class="fw-mail"></i> {{emailAddress}}
                            {{#unequal "" emailAddress }}
                                Unspecified
                            {{/unequal}}
                        </a>
                    </td>
                    <td class="text-right content-fill text-left-on-grid-view no-wrap">
                        <a href="/mdm/users/profile?username={{username}}" data-username="{{username}}"
                           data-click-event="edit-form" class="btn padding-reduce-on-grid-view view-user-link">
                            <span class="fw-stack">
                                <i class="fw fw-ring fw-stack-2x"></i>
                                <i class="fw fw-view fw-stack-1x"></i>
                            </span>
                            <span class="hidden-xs hidden-on-grid-view">View</span>
                        </a>

                        <a href="/mdm/users/edit-user?username={{username}}" data-username="{{username}}"
                           data-click-event="edit-form" class="btn padding-reduce-on-grid-view edit-user-link">
                            <span class="fw-stack">
                                <i class="fw fw-ring fw-stack-2x"></i>
                                <i class="fw fw-edit fw-stack-1x"></i>
                            </span>
                            <span class="hidden-xs hidden-on-grid-view">Edit</span>
                        </a>

                        {{#unequal "admin" username }}
                            <a href="#" data-username="{{username}}" data-userid="{{userid}}"
                               data-click-event="remove-form"
                               class="btn padding-reduce-on-grid-view remove-user-link">
                            <span class="fw-stack">
                                <i class="fw fw-ring fw-stack-2x"></i>
                                <i class="fw fw-delete fw-stack-1x"></i>
                            </span>
                                <span class="hidden-xs hidden-on-grid-view">Remove</span>
                            </a>
                        {{/unequal}}
                    </td>
                </tr>
            {{/each}}
            <br class="c-both" />
            </tbody>
        </table>

    </div>
    <br class="c-both"/>
    <div id="content-filter-types" style="display: none">
        <div class="sort-title">Sort By</div>
        <div class="sort-options">
            <a href="#">By Name<span class="ico-sort-asc"></span></a>
            <a href="#">By Username</a>
            <a href="#">By Email</a>
        </div>
    </div>

    <div id="invite-user-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                        An invitation mail will be sent to the selected user(s) to initiate an enrolment process.
                        Do you wish to continue ?
                    </h3>
                    <div class="buttons">
                        <a href="#" id="invite-user-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;yes&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="invite-user-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="invite-user-success-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>User invitation email for enrollment was successfully sent.</h3>
                    <div class="buttons">
                        <a href="#" id="invite-user-success-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="invite-user-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>An unexpected error occurred. Try again later.</h3>
                    <div class="buttons">
                        <a href="#" id="invite-user-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-user-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Do you really want to remove this user from EMM User Store ?</h3>
                    <div class="buttons">
                        <a href="#" id="remove-user-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="remove-user-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-user-success-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Done. User was successfully removed.</h3>
                    <div class="buttons">
                        <a href="#" id="remove-user-success-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-user-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>An unexpected error occurred. Please try again later.</h3>
                    <div class="buttons">
                        <a href="#" id="remove-user-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="errorUsers" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-error fw-stack-1x"></i>
                    </span>
                        Operation cannot be performed !
                    </h3>
                    <h4>
                        Please select a user or a list of users to send invitation emails.
                    </h4>
                    <div class="buttons">
                        <a href="javascript:hidePopup()" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{/zone}}
{{#zone "common-navigation"}}
    <!--Later add the navigation menu from here-->
{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/user-listing.js"></script>
{{/zone}}
