{{authorized}}
{{layout "fluid"}}
{{#zone  "title"}}
    Device Management
{{/zone}}
{{#zone "body"}}
    {{unit "operation-mod"}}
    {{unit "appbar" enableBack=true}}
    <div class="wr-device-list row">
        <div class="wr-hidden-operations wr-advance-operations">

        </div>
        {{unit "device-detail"}}
    </div>
{{/zone}}