<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ defineZone "title"}}</title>
    {{ defineZone "topLibCss"}}
    {{ defineZone "topCss"}}
</head>
<body>
<div class="container col-lg-12 col-md-12 col-sm-12">
    <!-- header -->
    <header>
    <div class="row wr-global-header">
        <div class="col-sm-8 app-logo">
            {{ defineZone "brand"}}
        </div>
        <div class="col-sm-4">
            <div class="wr-auth pull-right">
                <a href="#" data-toggle="dropdown" class="cu-ico-right-button cu-ico-button-user">Administrator</a>
                <div class="dropdown-menu">
                    <div class="cu-arrow"></div>
                    <div class="dropdown-menu-content">
                        <a class="filter-item">Logout</a>
                    </div>
                </div>          
            </div>
        </div>
    </div>
    </header>
    <!-- /header -->
    {{ defineZone "body"}}
</div>
<div id="content-asset-types" style="display: none">
    <div>
        <a class="ast-type-item">API</a>
        <a class="ast-type-item">EBook</a>
        <a class="ast-type-item">Gadget</a>
        <a class="ast-type-item">Policy</a>
        <a class="ast-type-item">Service</a>
        <a class="ast-type-item">Site</a>
        <a class="ast-type-item">Asset#1</a>
        <a class="ast-type-item">Asset#2</a>    
        <a class="ast-type-item">Asset#3</a>
        <a class="ast-type-item">Asset#4</a>
        <a class="ast-type-item">Asset#5</a>
        <a class="ast-type-item">Asset#6</a>
        <a class="ast-type-item">Asset#7</a>
        <a class="ast-type-item">Asset#8</a>   
    </div>
</div>  

{{ defineZone "bottomJs" }}
</body>
</html>
