{{#zone "main"}}
    <span id="permission" data-permission="{{permissions}}"></span>
    <div id="loading-content" class="col-centered">
        <i class="fw fw-settings fw-spin fw-2x"></i>
        &nbsp;&nbsp;&nbsp;
        Loading devices . . .
        <br>
    </div>
    <div id="device-listing-status" class="raw hidden">
        <ul style="list-style-type: none;">
            <li class="message message-info" >
                <h4>
                    <i class="icon fw fw-info"></i>
                    <a id="device-listing-status-msg"></a>
                </h4>
            </li>
        </ul>
    </div>
    <div id="device-table">
        <table class="table table-striped table-hover list-table display responsive nowrap data-table grid-view hidden" id="device-grid">
            <thead>
            <tr class="sort-row">
                <th class="no-sort"></th>
                <th>By Device Name</th>
                <th>By Owner</th>
                <th>By Status</th>
                <th>By Platform</th>
                <th>By Ownership</th>
                <th class="no-sort"></th>
            </tr>
            <tr class="filter-row filter-box">
                <th class="no-sort"></th>
                <th data-for="By Device name" class="text-filter"></th>
                <th data-for="By Owner" class="text-filter"></th>
                <th data-for="By Status" class="select-filter"></th>
                <th data-for="By Platform" class="select-filter data-platform"></th>
                <th data-for="By Ownership" class="select-filter"></th>
                <th class="no-sort"></th>
            </tr>
            <tr class="bulk-action-row">
                <th colspan="7">
                    <div id = "operation-bar">
                        {{unit "operation-bar"}}
                    </div>
                    <div id="operation-guide" class="bs-callout bs-callout-info">
                        <h4>Enabling Device Operations</h4>
                        <p>To enable device operations, select the desired platform from above filter.</p>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody id="ast-container">

            <br class="c-both" />
        </tbody>
        </table>
    </div>
    <br class="c-both"/>
    <div id="content-filter-types" style="display: none">
        <div class="sort-title">Sort By</div>
        <div class="sort-options">
            <a href="#">By Device Name<span class="ico-sort-asc"></span></a>
            <a href="#">By Owner</a>
            <a href="#">By Status</a>
            <a href="#">By Platform</a>
            <a href="#">By Ownership</a>
        </div>
    </div>

{{/zone}}
{{#zone "bottomJs"}}
    <script id="device-listing" data-current-user="{{currentUser.username}}" data-image-resource="{{self.publicURL}}/images/" src="{{self.publicURL}}/templates/device-listing.hbs" type="text/x-handlebars-template" ></script>
    <script src="{{self.publicURL}}/js/device-listing.js"></script>
{{/zone}}